@import url('https://fonts.googleapis.com/css?family=Public+Sans:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700,800,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

.active {
    transform-origin: top;
    display: block;
    animation: fadeIn .7s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//.header-sub-menu:hover:nth-child(2){
//    display: block;
//}


.header-list-item > :nth-child(2) {
    display: none;
}

.header-list-item:hover > :nth-child(2) {
    display: block;
    animation: fadeInBottom 0.3s;
}

.search:focus + button {
    border-color: #667eea;
    color: #667eea;
    background-color: #FFFFFF;
}

.icon-wrapper {
    transition: transform 0.3s ease-in-out;;

    &:hover {
        transform: translateY(-50%);
    }
}

.join-discord {
    background-image: url("../../public/images/home-image.png");
    background-repeat: repeat;
    min-height: 22.5rem;
}

.editor-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.close {
    top: 1rem;
    right: 1rem;
}

.box-wrapper {
    z-index: 888;
}

.text-indent{
    text-indent: 2rem
}

//.header-list-item {
//    &::after {
//        content: "";
//        display: none;
//        position: absolute;
//        width: 100%;
//        bottom: 0;
//        left: 0;
//        height: 0.25rem;
//        background-color: #4a5568;
//
//    }
//
//    &:hover::after{
//        display: block;
//    }
//}

