@import url(https://fonts.googleapis.com/css?family=Public+Sans:500,600,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Exo+2:400,600,700,800,900&display=swap);*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.active {
  -webkit-transform-origin: top;
          transform-origin: top;
  display: block;
  -webkit-animation: fadeIn 0.7s ease-out;
          animation: fadeIn 0.7s ease-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-list-item > :nth-child(2) {
  display: none;
}

.header-list-item:hover > :nth-child(2) {
  display: block;
  -webkit-animation: fadeInBottom 0.3s;
          animation: fadeInBottom 0.3s;
}

.search:focus + button {
  border-color: #667eea;
  color: #667eea;
  background-color: #FFFFFF;
}

.icon-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.icon-wrapper:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.join-discord {
  background-image: url(/images/home-image.png?c40ec9bdcce979e54fa74e007ea273cf);
  background-repeat: repeat;
  min-height: 22.5rem;
}

.editor-box {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

.close {
  top: 1rem;
  right: 1rem;
}

.box-wrapper {
  z-index: 888;
}

.text-indent {
  text-indent: 2rem;
}

